.teamMemberCard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-align: center;
    color: var(--color-reverse);
    /* padding: var(--space-xl); */
}

.teamMemberName {
    margin-bottom: var(--space-s);
}

.teamMemberTitle {

}

.teamMemberImage {
    border-radius: 100%;
    /* width: calc(60%); */
    width: 100%;
    margin-bottom: var(--space-m);
}

.textCircle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: var(--color-reverse);
}