.hero {
    
}

.heroInner {
    padding: var(--space-m) 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 90vh;
}

.heroText {
    max-width: 420px;
    flex: 0 0 auto;
}

.heroNumbersWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.heroNumbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: stretch;
}

.heroNumber {
    flex: 0 0 19%;
}

.ringsModel {
    position: relative;
    flex: 0 0 40.5%;
}