.launchesSection {
    /* background-color: var(--color-red); */
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    position: relative;
    /* overflow-y: hidden; */
    /* min-height: 400vh; */
}

.stickyWrapper {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    z-index: 3;
}

/* .projectsWrapper {
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-l);
    align-self: stretch;
} */

.activeProjectTitle {
    position: absolute;
    font-size: 10vw;
    letter-spacing: -0.7vw;
    font-family: var(--font-mono);
    /* position: sticky; */
    /* top: 50vh; */
    /* transform: translateY(-50%); */
    height: 100vh;
    width: 100%;
    text-align: center;
    z-index: 3;
    color: var(--color-reverse);
    display: flex;
    align-items: center;
    justify-content: center;
    /* mix-blend-mode: difference; */
}
