.sectionTitleWrapper {
    position: absolute;
    top: 0;
    display: inline-block;
    border: 1px solid currentColor;
    align-self: flex-end;
    z-index: 3;
    /* mix-blend-mode: difference; */
    color: var(--color-reverse);
    margin: 0;
}

.sectionTitleWrapper.right {
    align-self: flex-end;
    border-radius: 0 0 0 var(--space-s);
}

.sectionTitleWrapper.left {
    align-self: flex-start;
    border-radius: 0 0 var(--space-s) 0;
}

.sectionTitleWrapper.center {
    align-self: center;
    /* top: 50vh; */
    transform: translateY(-50%);
    border-radius: var(--space-s);
}

.sectionTitleWrapper.sectionTitleWrapperText {
    color: var(--color-ink);
    /* background-color: var(--color-reverse); */
    /* mix-blend-mode: unset; */
    /* color: var(--color-blue); */
    /* border: 1px solid var(--color-reverse); */
}

.sectionTitle {
    padding: var(--space-m) var(--space-l);
}

.sectionTitle p {
    margin: 0;
}

.sectionLabel {
    padding: var(--space-s) 0;
    border-top: 1px solid currentColor;
    min-height: 40px;
    position: relative;
}

.tickerTextWrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: hidden;
    
}

.sectionLabel p {
    margin: 0;
    white-space: nowrap;
    animation: tickerText 6s linear 0s infinite;
}

.sectionLabel p::after {
    content: "·";
    padding: 0 var(--space-s);
}

@keyframes tickerText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 768px) {
    .sectionTitleWrapper,
    .sectionTitleWrapper.left,
    .sectionTitleWrapper.right,
    .sectionTitleWrapper.center {
        border-radius: 0;
        text-align: center;
        width: 100%;
    }

    .sectionTitleWrapper.center {
        display: none;
    }
}