.hero {
    
}

.heroInner {
    padding: var(--space-l) 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 95vh;
}

.heroText {
    max-width: 420px;
    flex: 0 0 auto;
}

.heroNumbersWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.heroNumbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: stretch;
    /* transform-origin: top left; */
}

.heroNumber {
    flex: 0 0 19%;
}

.ringsModel {
    position: relative;
    flex: 0 0 40.5%;
}

.ringsModel canvas {
    /* position: fixed; */
    /* transform: translateX(0%) rotate(0deg); */
    inset: unset;
    transition: all var(--easing-default);
}

.ringsModel canvas.fixed {
    /* inset: unset; */
    /* transform: translateX(50%) rotate(5deg); */
    /* opacity: 0.1; */
}