* {
  box-sizing: border-box;
}

:root {

  /* Colors */
  --color-ink: #3C3C3C;
  --color-reverse: #ffffff;
  --color-offwhite: #d9d9d9;
  --color-red: #ff4949;
  --color-blue: #0500EF;
  --color-yellow: #FCFD1A;

  --page-color-default: var(--color-offwhite);

  /* Space */
  --space-xs: 5px;
  --space-s: 10px;
  --space-m: 15px;
  --space-l: 30px;
  --space-xl: 60px;

  /* Fonts */
  --font-serif: 'Self-Modern', serif;
  --font-sans: 'NB-Akademie', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --font-mono: 'DM-Mono', monospace;

  /* Easing */
  --easing-default: 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

  /* Borders */
  --border-s: 5px;

  /* Shadows */
  --shadow-s: 2px 2px 30px rgba(0, 0, 0, 0.1);

}

body {
  margin: 0;
  font-family: 'NB-Akademie', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-color, var(--page-color-default));
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-ink);
  transition: background-color 0.3s ease-out;
  overflow-x: hidden;
}

@font-face {
  font-family: DM-Mono;
  src: url('./assets/fonts/DMMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Self-Modern;
  src: url('./assets/fonts/SelfModern-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: NB-Akademie;
  src: url('./assets/fonts/NBAkademieStd-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 var(--space-l);
}

a {
  color: inherit;
}

h1,
.h1 {
  font-family: var(--font-mono);
  font-size: 12vw;
  letter-spacing: -0.1vw;
  line-height: 1;
}

h2,
.h2 {
  font-family: var(--font-mono);
  font-size: 42px;
  letter-spacing: -2px;
  line-height: 1.2;
}

h3,
.h3 {
  font-family: var(--font-serif);
  font-size: 24px;
  line-height: 1.2;
}

.utility {
  font-family: var(--font-mono);
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.4;
  text-transform: uppercase;
}

p {
  margin: 0 0 1rem;
}

@media screen and (max-width: 768px) {

  :root {
    /* Space */
    --space-xs: 4px;
    --space-s: 8px;
    --space-m: 12px;
    --space-l: 20px;
    --space-xl: 40px;
  }

  .h2 {
    font-size: 30px;
  }

  .h3 {
    font-size: 20px;
  }

  .utility {
    font-size: 12px;
    letter-spacing: 1px;
  }

}