.brandWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-m);
    position: fixed;
    bottom: 0;
    left: 0;
    color: var(--color-reverse);
    mix-blend-mode: difference;
    z-index: 999;
    padding: var(--space-l);
    opacity: 1;
    transition: opacity var(--easing-default);
}

.logo {
    text-decoration: none;
    margin: 0;
}

.contact {
    text-decoration: none;
    margin: 0;
}

@media screen and (max-width: 768px) {

    .brandWrapper {
        justify-content: space-between;
        right: 0;
        bottom: 60px;
    }
}