
.projectCard {
}

.projectCardInner {
    transform-origin: center;
    /* transform-origin: bottom left; */
}

.projectImage {
    max-height: 60vh;
    border-radius: var(--space-m);
}

.projectTitle {
    margin-top: var(--space-s);
}