.recognition {
    display: flex;
    flex-direction: column;
    position: relative;
}

.recognitionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10vw;
    padding: 0 var(--space-l);
}

@media screen and (max-width: 768px) {

    .recognitionWrapper {
        flex-direction: column;
        gap: var(--space-l);
        align-items: stretch;
        justify-content: flex-start;
    }
}