.recognition {
    display: flex;
    flex-direction: column;
    position: relative;
}

.recognitionWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10vw;
    padding: 0 var(--space-l);
}
