:root {
  box-sizing: border-box;

  /* Colors */
  --color-reverse: #ffffff;
  --color-offwhite: #d9d9d9;

  /* Space */
  --space-xs: 5px;
  --space-s: 10px;
  --space-m: 15px;
  --space-l: 30px;
  --space-xl: 60px;
}

body {
  margin: 0;
  font-family: 'NB-Akademie', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-offwhite);
  font-size: 12px;
}

@font-face {
  font-family: DM-Mono;
  src: url('./assets/fonts/DMMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Self-Modern;
  src: url('./assets/fonts/SelfModern-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: NB-Akademie;
  src: url('./assets/fonts/NBAkademieStd-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 20px;
}

