.navigation {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    /* transition: all var(--easing-default); */
    /* min-width: 0px; */
}

.navigationInner {    
    position: relative;
    border-radius: var(--border-s);
    background-color: var(--color-reverse);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: var(--space-l);
    box-shadow: var(--shadow-s);
    padding: var(--space-s);
    overflow: hidden;
    /* transition: all var(--easing-default); */

}

.scrollProgress {
    position: absolute;
    content: "";
    width: calc(var(--scroll, 0) * 1%);
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color-blue);
    mix-blend-mode: difference;
    pointer-events: none;
    opacity: 1;
    transition: opacity var(--easing-default);
}

.navLink {
    flex-shrink: 0;
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--space-s) var(--space-m);
    border-radius: var(--border-s);
    transition: all var(--easing-default);
    border: none;
    background-color: unset;
}

.navigation.pageEnd {
    /* min-width: 100%;
    transition: width 3s ease; */
}

.navigation.pageEnd .navigationInner {
    background-color: var(--color-yellow);
    color: var(--color-ink);
}

.navigation.pageEnd .scrollProgress{
    display: none;
}

.navigation.pageEnd .navLink {
    padding: var(--space-s) var(--space-m) var(--space-s) 0;
    animation: ticker 8s linear 0s infinite;
}

@keyframes ticker {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.navigation:not(.navigation.pageEnd) .navLink:hover {
    background-color: var(--color-blue);
    color: var(--color-reverse);
}

@media screen and (max-width: 768px) {

    .navigation {
        left: 0;
    }

    .navLink {
        flex-grow: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }    
    
}