.team {
    display: flex;
    position: relative;
}


.teamMembersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(var(--space-xl) * 2);
    padding: calc(var(--space-xl) * 2);
}

@media screen and (max-width: 768px) {

    .teamMembersWrapper {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}