.team {
    display: flex;
    position: relative;
}


.teamMembersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: calc(var(--space-xl) * 1);
    padding: calc(var(--space-xl) * 1);
    flex-grow: 1;
}

@media screen and (max-width: 768px) {

    .teamMembersWrapper {
        grid-template-columns: 1fr;
    }
}